.logo {
	width: 100%;
	max-width: 350px;
	height: 40px;
	padding-top: 3em;
	padding-left: 3em;
}

.content_banner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2em;
	margin: auto;
	height: 100%;
}
.title_banner {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	color: #ffd15b;
	font-size: 44px;
}
.span{
	display: block;
}
.search-bar {
	background-color: white;
	width: 100%;
	max-width: 954px;
	height: 72px;
	border-radius: 11px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1em;
}
.search-bar input {
	border: none;
	width: 90%;
	font-size: 16px;
	outline: none;
}
.search-bar input:focus::placeholder{
	color: transparent;
}
.icon_search {
	color: white;
	background-color: black;
	width: 32px;
	height: 32px;
	padding: 10px;
	border-radius: 12px;
	cursor: pointer;
}
.icon_clear{
	cursor:pointer;
	font-size: 1.5em;
}