.card_container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 4rem;
    margin-bottom: 3rem;


}
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	max-width: 380px;
	width: 100%;
	height: 731px;
	border-radius: 21px;
	background-color: white;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.card_image {
	width: auto;
	height: 253px;
	padding: 0;
}
.card_image .recipe_img {
	height: 100%;
	border-radius: 21px 21px 0 0;
	object-fit: cover;
	position: relative;
}

.card_image p {
	position: absolute;
	top: 16px;
	right: 16px;
	background-color: #ffd15b;
	padding: 8px 12px;
	border-radius: 8px;
	font-size: 14px;
	max-width: fit-content;
	font-size: 12px;
}
.card_content {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 12px;
}
.recipe_title {
	font-size: 18px;
	margin-bottom: 1em;
}
.card_content h3 {
	font-family: var(--font-manrope);
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}
.recipe_description {
	font-size: 14px;
	margin-bottom: 1em;
}
.ingredients_list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
}
.recipe_ingredients {
	font-size: 14px;
	font-weight: 500;
}
.recipe_qte {
	font-size: 14px;
	color: #7a7a7a;
}	

@media (max-width: 1023px) {
	.card_container{
	grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 600px) {
	.card_container{
	grid-template-columns: repeat(1, 1fr);
	}
}