@import "tailwindcss";

:root {
  --background: #ededed;
  
}

body {
  max-width: 1440px;
  margin: auto;
  background: var(--background);
  font-family: var(--font-manrope);
  font-weight: 400;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-anton);
  font-weight: 400;
}

main {
	margin: 0 5em;
}

