.recipe_page_container{
	display: grid;
	grid-template-columns: 1fr,1fr;
	gap: 20px;
}
.recipe_page_content{
	max-width: 800px;
	margin: auto;
	padding: 2rem;
}
.recipe_page_content h2{
	font-size: 26px;
}
.recipe_page_content h3{
	font-size: 16px;
	font-family: var--font-manrope;
	font-weight: 700;
	text-transform: uppercase;
}
.recipe_page_list, .recipe_page_ustensils, .recipe_page_appliances{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}