header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('/assets/IMG/img_banner.jpg');
	background-position: center, center -214px;
	background-size: cover, cover;
	background-repeat: no-repeat, no-repeat;
	width: 100%;
	height: 667px;
	margin: auto;
}


