/* .tag_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0;
}
.tag_container .tag_nbr_recipes {
  font-size: 21px;
}
.tag_container select {
  width: 195px;
  height: 56px;
  border-radius: 11px;
  font-size: 16px;
  font-weight: 500;
  padding: 12px;
  margin-right: 63px;
  background-color: white;
}
.tag_container option {
  font-size: 14px;
}
.tag_title {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 16px;
} */
.tag_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0;
}

.tag_container .select{
  display: flex;
  gap: 4rem;
}
.tag_container .tag_nbr_recipes {
  font-size: 21px;
}

.custom_select {
  position: relative;
  width: 195px;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 16px;
}

.custom_select_header {
  background-color: white;
  border-radius: 11px;
  width: 195px;
  height: 56px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.arrow {
 display: inline-block;
 border: 2px solid black;
 border-width: 0 2px 2px 0;
 padding: 4px;
 transform: rotate(45deg);
 transition: transform 0.3s ease;
}
.arrow.open {
  transform: rotate(-135deg);
}
.custom_select_menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border-radius: 11px;
  max-height: 324px;
  overflow-y: auto;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 10;
}

.custom_select_search {
  width: 90%;
  margin: 0.5rem;
  padding: 0.4rem;
  border: 1px solid #c6c6c6;
  border-radius: 6px;
}

.custom_select_options {
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom_select_options li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.custom_select_option li:hover {

}

.no_options {
  color: #999;
  text-align: center;
  padding: 0.5rem;
}
