.tag_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 4rem 0;
  flex-wrap: wrap;
}

.tag_container .select{
  display: flex;
  gap: 4rem;
}

.select_block{
  display: flex;
  flex-direction: column;
}
.tag_container .tag_nbr_recipes {
  font-size: 21px;
}

.custom_select {
  position: relative;
  width: 195px;
  font-size: 16px;
  font-weight: 500;
  /* padding: 12px 16px; */
}

.custom_select_header {
  background-color: white;
  border-radius: 11px;
  width: 195px;
  height: 56px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.arrow {
 display: inline-block;
 border: 2px solid black;
 border-width: 0 2px 2px 0;
 padding: 4px;
 transform: rotate(45deg);
 transition: transform 0.3s ease;
}
.arrow.open {
  transform: rotate(-135deg);
}
.custom_select_menu {
  position: absolute;
  top: 75%;
  left: 0;
  width: 100%;
  background-color: white;
  border-radius: 0 0 11px 11px;
  max-height: 324px;
  caret-color:auto;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  z-index: 10;
}
.custom_select_menu::-webkit-scrollbar {
  display: none;
}
.custom_select_search {
	position: relative;
	width: 90%;
	margin: 0.5rem;
	padding: 0.4rem;
	border: 1px solid #c6c6c6;
	border-radius: 6px;
	margin-top: 0.6rem;
}
.custom_select_search input {
  width: 90%;
  padding-right: 2rem;
  outline: none;
  font-size: 14px;
  color: #7a7a7a;
}
.custom_select_search .icon_magnifying_glass {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  width: 16px;
  height: 16px;
  pointer-events: none;
  color: #7a7a7a;
}

.selected_tags_inside{
	display: flex;
	flex-direction: column;
	margin: 1rem 0 1.5rem 0;
	gap : 2px;
}
.selected_tags_inside button{
	padding-left: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
.selected_tags_inside .tag_inside{
	background-color: #ffd15b;
	padding: .5rem 1rem;
  	font-size: 14px;
}
.selected_tags_inside .tag_inside .icon_xmark{
	display: none;
}
.selected_tags_inside .tag_inside:hover .icon_xmark{
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
}
.custom_select_items {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.custom_select_items li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.no_items {
  color: #999;
  text-align: center;
  padding: 0.5rem;
}

.selected_tags{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 1rem;
  flex-wrap: wrap;
}
.selected_tags button{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selected_tags .tag{
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 6px 10px;
  border-radius: 10px;
  background: #e6e6e6;
  border: none;
  cursor: pointer;
  width: 195px;
  height: 53px;
}

.selected_tags .tag.appareils, .selected_tags .tag.ingredients, .selected_tags .tag.ustensiles{
  background: #ffd15b;
}

.selected_tags .tag .icon_xmark{
  font-size: 15px;
}

